<!-- <h1 class="mt-4">Student Dashboard</h1> -->
<div class="container">
<h1 class="mt-4">Welcome <%= username %>, </h1>

<% include ./partials/messages %>
<% if(postdata.length===0){ %>
    <h1>There is no Posts here!</h1>
<% } %>

<% postdata.forEach(function(post){ %>
    <% var postcolor = post.postcolor %> 
    <div class="card <%= postcolor%>" style="width: 30rem;">
        <div class="card-body">   
            <h5 class="card-title"><%=post.title%></h5>
            <h5 class="card-title" style ="color:black"> <%=post.name%> </h5>
            <p class="card-title" style ="color:black"> <%=post.Date%> </p>
            <p class="card-text" ><%=post.post%></h4>
    
    
    
    
        </div>
</div>
<br/>
<br/>
<% }) %>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
