<!-- <h1 class="mt-4">Student Dashboard</h1> -->
<!-- This is for teachers to view their posts   -->
<%- include('tnavlayout') -%>
<br />
<div class="container">
  <form action="/teacher/posts/delete" method="post">
    <div class="form-check">
      <% if(posts.length===0){ %>
      <br />
      <h1>There is no Posts here!</h1>
      <% } %> <% posts.forEach(function(post){ %> <% var postcolor =post.postcolor %>

      <div class=" <%= postcolor%>" style="min-width:23px;max-width: 60rem;">
        <div class="card-header">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
            name="post_id"
            value="<%= post._id %>"
            style="float-left;"/>&nbsp <%=post.name%> <% pd = post.Date%>
          <%=pd.getDate()+'-'+pd.getMonth()+1+'-'+pd.getFullYear()+'('+pd.getHours()+':'+pd.getMinutes()+')'%>
        </div>
        <div class="card-body">
          <div>
            <h5 class="card-title"><%=post.title%></h5>
          </div>
          <p class="card-text"><%=post.post%></p>
        </div>
      </div>
      <br />
      <% }) %> <% if(posts.length>0){ %>
      <button class="btn btn-primary btn-block" type="submit">Delete</button>
      <br />
      <% } %>
    </div>
  </form>
</div>
