<%- include('adminnav') -%>
<br/>
<% include ./partials/messages %>
<form action="/admin/events" method="get" id="form1">
    <input type="hidden" id="hiddenvalue" name="options" value="createevent" />
<button type="submit" class="btn btn-outline-dark btn-block" >Create Event</button>
<script>
    function dataname(input) {
      document.getElementById("hiddenvalue").value = input;
      document.getElementById("form1").submit();
    }
    
  </script>
</form>
<br/>
<div class="container">
    <form action ="/admin/eventsdel" method="post">

        <%if (events.length>0) {%>
    <p class="display-4">Upcoming Events,</p>
    <%}%>
    <% if(events) {%>
        <% console.log() %>
    <div class="list-group">
      <%for(i=0;i<events.length;i++) {%>
        <div class="card" style="min-width: 23rem;">
            <input type="checkbox" name="eventid" value="<%=events[i]._id%>">
            <div class="card-body">
              <h5 class="card-title"><%=events[i].EventName%></h5>
              
              <p class="card-subtitle mb-2 text-muted small"><%=events[i].StartDate%> - <%=events[i].EndDate%></p>
              <p class="card-text"><%=events[i].Note%></p>
             
            </div>
          </div>
          <br/>
         
      <% } %>
      <% } %>
    </div>
    <%if (events.length>0) {%>
    <button type="submit" class="btn btn-danger btn-block" >Delete</button>
    <% }else{%>
        <p class="display-4">No Events</p>
    <%}%>
    </form>
    </div>
    <br/>



    